.app-game {
  width: 680px;
  height: 600px;
  border: black solid 1px;
  margin: 100px auto;
  padding: 60px;
  background-color: #bcc9e7;
  text-align: center;
}

.main-menu {
  width: 600px;
  height: 480px;
  background-color: lightpink;
}

.instructions {
  width: 600px;
  height: 480px;
  background-color: lightpink;
}

.instructions p{
  width:440px;
  margin: 0 auto;
}

.game-over {
  width: 600px;
  height: 480px;
  background-color: lightpink;
}

.hud {
  width: 98px;
  height: 480px;
  border: black solid 3px;
  float: left;
  background-color: #2e6aa2;
}

.board {
  width: 480px;
  height: 480px;
  border: black solid 3px;
  float: left;
  background-color: white;
}

.board__field {
  width: 60px;
  height: 60px;
  /*border: black solid 1px;*/
  float: left;
}

.road-stripe:after {
  content: "";
  display: block;
  width: 16px;
  height: 40px;
  position: relative;
  top: 10px;
  left: 52px;
  background-color: white;
}

.board__field_road {
  background-color: #4e5053;
}

.board__field_grass-l {
  position: relative;
  background-image: url("../images/game-images/trawka_L.png");
}

.board__field_grass-p {
  position: relative;
  background-image: url("../images/game-images/trawka_P.png");
}

.board__field_tree-l-1 {
  position: relative;
  background-image: url("../images/game-images/drzewko_L_1.png");
}

.board__field_client {
  position: relative;
  background-image: url("../images/game-images/janusz.png");

}

.board__field_block {
  position: relative;
  background-image: url("../images/game-images/dziura_1.png");
}

.board__field_red-dzik {
  position: relative;
  background-image: url("../images/game-images/red_dzik.png");
}

.player {
  position: relative;
  z-index: 20;
  background-image: url("../images/game-images/car.png");
}
