.auto-background {
    max-width: 100%;
    height: auto;

}

.nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: #f1f1f1;
    position: fixed;

}

.nav_bar li {
    display: inline;


}

.nav_bar a {
    text-decoration: none;
    display: inline-block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}

.nav_bar a:hover {
    background-color: darkblue;
    color: white;
}

.clear_both {
    clear: both;

}